/* ===== Глобальные стили */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  color: #000;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.wrapper {
  margin: 0 auto;
  width: 1200px;
}

/* ===== Стили для хэдера */
.header {
  background-color: #fff;
}

.header__list {
  list-style: none;
}

.header__link {
  line-height: 26px;
  color: #000;
}

.header__link:hover,
.header__link:focus {
  color: #81b3d2;
}

.header__link:active {
  color: #cacaca;
}

.header__link_active {
  color: #766357;
}

/* ===== Стили для основного контента на главной странице */
.welcome {
  background-color: #31444f;
  background-image: url("../img/index/welcome-bcg.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.promo {
  background-color: #fff;
}

.promo__title {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

.promo__subtitle {
  font-weight: 400;
  line-height: 26px;
  color: #333;
  text-align: center;
}

.wrap-reason {
  background-color: #81b3d2;
}

.reason__title {
  font-size: 21px;
  color: #fff;
}

.reason__text {
  font-weight: 400;
  color: #fff;
}

.info {
  background-color: #fff;
}

.info__list {
  list-style: none;
}

.info__item {
  text-align: center;
}

.info__title {
  font-size: 21px;
}

.info__text {
  font-weight: 400;
  color: #333;
}

.hotel-search {
  background-color: #fff;
  text-align: center;
}

.hotel-search__title {
  font-size: 30px;
  line-height: 36px;
}

.hotel-search__text {
  font-weight: 400;
  line-height: 24px;
  color: #333;
}

.button {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #fff;
  text-transform: uppercase;
  border: none;
}

.button__hotel-search {
  background-color: #766357;
}

.button__hotel-search:hover,
.button__hotel-search:focus {
  background-color: #604e43;
}

.button__hotel-search:active {
  color: #928a85;
  background-color: #503e33;
}

.hotel-search__form-label,
.hotel-search__form-input {
  font: inherit;
  line-height: 26px;
}

.hotel-search__form-input {
  background-color: #f2f2f2;
  border: 2px solid transparent;;
}

.hotel-search__form-input:hover {
  background-color: #ebebeb;
}

::-webkit-input-placeholder {
  color: #000;
}

::-moz-placeholder {
  color: #000;
}

::-webkit-input-placeholder {
  color: #000;
}

.hotel-search__form-input:focus {
  background-color: #fff;
  border: 2px solid #e5e5e5;
  outline: transparent;
}

.button__find {
  background-color: #81b3d2;
}

.button__find:hover,
.button__find:focus {
  background-color: #669ec0;
}

.button__find:active {
  color: #94b9d2;
  background-color: #5496bd;
}

/* ===== Стили для основного контента на станице hotels */
.filter {
  background-color: #2a3e45;
  background-image: url("../img/hotels/filter-bcg.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.filter__form-fieldset {
  border: none;
}

.filter__form-legend {
  font-size: 16px;
  color: #fff;
}

.filter__form-list {
  list-style: none;
}

.filter__form-label {
  font-weight: 400;
  color: #fff;
}

.filter__form-input {
  font: inherit;
  font-weight: 400;
  color: #fff;
  background-color: transparent;
  border: none;
  outline: transparent;
}

.filter__form-row {
  border: 1px solid #fff;
  border-radius: 2px;
}

.filter__form-input::-webkit-input-placeholder {
  color: #fff;
}

.filter__form-input::-moz-placeholder {
  color: #fff;
}

.filter__form-input::-webkit-input-placeholder {
  color: #fff;
}

.button__show {
  font-size: 14px;
  font-weight: 400;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 2px;
}

.button__show:hover,
.button__show:focus {
  color: #000;
  background-color: #fff;
  outline: none;
}

.hotels {
  background-color: #fefefe;
}

.hotels__description {
  font-size: 21px;
  line-height: 26px;
}

.hotels__text {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.sorting {
  list-style: none;
}

.sorting__link {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #cacaca;
  border-bottom: 1px dotted #81b3d2;
}

.sorting__link:hover,
.sorting__link:focus {
  color: #8bb9d5;
}

.sorting__link:active {
  color: #000;
  border: none;
}

.sorting__link_active {
  color: #81b3d2;
  border: none;
}

.hotels__list {
  border-bottom: 1px solid #e5e5e5;
  list-style: none;
}

.hotels__item {
  border-top: 1px solid #e5e5e5;
}

.hotels__link {
  font-size: 21px;
  line-height: 26px;
  color: #000;
}

.hotels__link:hover,
.hotels__link:focus {
  color: #81b3d2;
}

.hotels__link:active {
  color: #cacaca;
}

.hotels__about {
  font: inherit;
  font-weight: 400;
  color: #333;
}

.hotels__info {
  color: #fff;
  background-color: #81b3d2;
}

.hotels__info:hover,
.hotels__info:focus {
  background-color: #669ec0;
}

.hotels__info:active {
  color: #94b9d2;
  background-color: #5496bd;
}

.hotels__booking {
  color: #fff;
  background-color: #766357;
}

.hotels__booking:hover,
.hotels__booking:focus {
  background-color: #604e43;
}

.hotels__booking:active {
  color: #928a85;
  background-color: #503e33;
}

.hotels__about_rating {
  background-color: #f2f2f2;
}

/* ===== Стили для футера*/
.footer {
  background-color: rgba(249,251,246,.9);
}

.footer__hashtag {
  font-size: 21px;
  line-height: 26px;
}

.socials__list {
  list-style: none;
}

.socials__link {
  font-size: 0;
}

.footer__copyright-text {
  font-weight: 400;
  line-height: 26px;
}
