/* ===== Глобальные стили */

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  color: #000;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  margin: 0 auto;
  min-width: 768;
  max-width: 1200px;
  box-shadow: 0 0 10px 3px lightgrey;
}

/* ===== Стили для хэдера */

.header {
  position: relative;
  background-color: #fff;
}

.header__logo {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1;
}

.header__nav {
  padding: 0 6%;
}

.header__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  list-style: none;
}

.header__item {
  width: 20%;
}

.header__item_align-right {
  text-align: right;
}

.header__link {
  line-height: 26px;
  color: #000;
}

.header__link:hover,
.header__link:focus {
  color: #81b3d2;
}

.header__link:active {
  color: #cacaca;
}

.header__link_active {
  color: #766357;
}

/* ===== Стили для основного контента на главной странице */

.welcome {
  position: relative;
  background-color: #31444f;
  background-image: url("../img/index/welcome-bcg.jpg");
  background-position: 0 28%;
  background-repeat: no-repeat;
  background-size: cover;
}

.welcome__img {
  display: block;
  margin: 0 auto;
  padding: 75px 0;
}

.welcome__mask {
  position: absolute;
  bottom: 0;
  fill: #fff;
}

.promo {
  padding: 0 6%;
  padding-top: 60px;
  padding-bottom: 55px;
  background-color: #fff;
}

.promo__container {
  width: 575px;
  margin: 0 auto;
}

.promo__title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

.promo__subtitle {
  margin: 0;
  font-weight: 400;
  line-height: 26px;
  color: #333;
  text-align: center;
}

.reason {
  display: flex;
}

.wrap-reason {
  width: 34%;
  padding: 40px 52px;
  text-align: center;
  background-color: #81b3d2;
  box-sizing: border-box;
}

.reason__title {
  width: 200px;
  margin: 0 auto;
  margin-bottom: 20px;
  font-size: 21px;
  color: #fff;
}

.reason__text {
  position: relative;
  margin: 0;
  margin-bottom: 25px;
  font-weight: 400;
  color: #fff;
}

.reason__text-element::before,
.reason__text-element::after {
  position: absolute;
  bottom: 10px;
  content: "";
  width: 9px;
  height: 1px;
  background-color: #fff;
}
.reason__text-element::before {
  left: 126px;
}

.reason__text-element::after {
  right: 127px;
}

.hidden {
  width: 66%;
  height: 255px;
  overflow: hidden;
}

.reason__img {
  max-width: 100%;
}

.info {
  padding: 0 6%;
  background-color: #fff;
}

.info__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-top: 60px;
  padding-bottom: 60px;
  list-style: none;
}

.info__item {
  width: 33.3%;
  text-align: center;
}

.info__icon {
  margin-bottom: 25px;
  fill: #81b3d2;
}

.info__title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 21px;
}

.info__text {
  width: 300px;
  margin: 0 auto;
  font-weight: 400;
  color: #333;
}

.other-reasons {
  padding: 0 6%;
  background-color: #eee;
}

.other-reasons__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-top: 45px;
  padding-bottom: 45px;
  list-style: none;
}

.other-reasons__item {
  width: 33.3%;
  text-align: center;
}

.other-reasons__title {
  margin: 0 auto;
  margin-bottom: 20px;
  width: 160px;
  font-size: 21px;
}

.other-reasons__text {
  position: relative;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 270px;
  font-weight: 400;
  color: #333;
}

.other-reasons__text-element::before,
.other-reasons__text-element::after {
  position: absolute;
  bottom: 10px;
  content: "";
  width: 9px;
  height: 1px;
  background-color: #000;
}
.other-reasons__text-element::before {
  left: 111px;
}

.other-reasons__text-element::after {
  right: 110px;
}

.hotel-search {
  padding-top: 55px;
  text-align: center;
  background-color: #fff;
}

.hotel-search__title {
  margin: 0;
  margin-bottom: 33px;
  font-size: 30px;
  line-height: 36px;
}

.hotel-search__text {
  margin: 0;
  margin-bottom: 50px;
  font-weight: 400;
  line-height: 24px;
  color: #333;
}

.button {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #fff;
  text-transform: uppercase;
  border: none;
}

.button__hotel-search {
  padding: 23px 140px;
  background-color: #766357;
}

.button__hotel-search:hover,
.button__hotel-search:focus {
  background-color: #604e43;
}

.button__hotel-search:active {
  color: #928a85;
  background-color: #503e33;
}

.hotel-search__form-label,
.hotel-search__form-input {
  font: inherit;
  line-height: 26px;
}

.hotel-search__form-input {
  background-color: #f2f2f2;
  border: 2px solid transparent;
  ;
}

.calendar__icon {
  fill: #cacaca;
  transition: 0.3s;
}

.calendar__icon:hover,
.calendar__icon:focus {
  fill: #000;
}

.calendar__icon:active {
  fill: #81b3d2;
}

.hotel-search__form-input:hover {
  background-color: #ebebeb;
}

::-webkit-input-placeholder {
  color: #000;
}

::-moz-placeholder {
  color: #000;
}

::-webkit-input-placeholder {
  color: #000;
}

.hotel-search__form-input:focus {
  background-color: #fff;
  border: 2px solid #e5e5e5;
  outline: transparent;
}

.button__find {
  padding: 16px 196px;
  background-color: #81b3d2;
}

.button__find:hover,
.button__find:focus {
  background-color: #669ec0;
}

.button__find:active {
  color: #94b9d2;
  background-color: #5496bd;
}

/* ===== Стили для основного контента на станице hotels */

.filter {
  padding: 0 6%;
  background-color: #2a3e45;
  background-image: url("../img/hotels/filter-bcg.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.filter__form {
  display: flex;
  padding-top: 27px;
  padding-bottom: 27px;
}

.filter__form-fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.filter__form-fieldset_infrastructure,
.filter__form-fieldset_dwelling {
  width: 25%;
}

.filter__form-fieldset_dwelling {
  margin-right: auto;
}

.filter__form-fieldset_cost {
  width: 34%;
}

.filter__form-legend {
  margin-bottom: 20px;
  font-size: 16px;
  color: #fff;
}

.filter__form-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter__form-item {
  margin-bottom: 15px;
}

.filter__form-label {
  font-weight: 400;
  color: #fff;
}

.filter__form-input {
  font: inherit;
  font-weight: 400;
  color: #fff;
  background-color: transparent;
  border: none;
  outline: transparent;
}

.filter__form-row {
  margin: 0;
  border: 1px solid #fff;
  border-radius: 2px;
}

.filter__form-input::-webkit-input-placeholder {
  color: #fff;
}

.filter__form-input::-moz-placeholder {
  color: #fff;
}

.filter__form-input::-webkit-input-placeholder {
  color: #fff;
}

.filter__form-range {
  height: 3px;
  background-color: rgba(255, 255, 255, 0.3);
}

.filter__circle {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.button__show {
  padding: 5px 35px;
  font-size: 14px;
  font-weight: 400;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 2px;
}

.button__show:hover,
.button__show:focus {
  color: #000;
  background-color: #fff;
  outline: none;
}

.sorting {
  padding: 0 6%;
  background-color: #fefefe;
}

.sorting__description {
  font-size: 21px;
  line-height: 26px;
}

.sorting__text {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.sorting__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sorting__link {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #cacaca;
  border-bottom: 1px dotted #81b3d2;
}

.sorting__link:hover,
.sorting__link:focus {
  color: #8bb9d5;
}

.sorting__link:active {
  color: #000;
  border: none;
}

.sorting__link_active {
  color: #81b3d2;
  border: none;
}

.triangle {
  fill: #cacaca;
}

.triangle:hover,
.triangle:focus {
  fill: #231f20;
}

.triangle:active {
  fill: #81b3d2;
}

.triangle_active {
  fill: #81b3d2;
}

.hotels {
  background-color: #fefefe;
}

.hotels__list {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #e5e5e5;
  list-style: none;
}

.hotels__item {
  display: flex;
  padding: 0 6%;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid #e5e5e5;
}

.hotels__link_margin {
  margin-right: 30px;
}

.hotels__link {
  display: inline-block;
  font-size: 21px;
  line-height: 26px;
  color: #000;
}

.hotels__link:hover,
.hotels__link:focus {
  color: #81b3d2;
}

.hotels__link:active {
  color: #cacaca;
}

.wrap-info {
  margin-right: auto;
}

.hotels__name {
  margin: 0;
  margin-bottom: 12px;
}

.hotels__row {
  margin: 0;
  margin-bottom: 12px;
}

.hotels__about {
  margin: 0;
  padding-top: 3px;
  padding-right: 13px;
  padding-bottom: 3px;
  padding-left: 16px;
  font: inherit;
  font-weight: 400;
  color: #333;
}

.hotels__info {
  padding: 3px 17px;
  color: #fff;
  background-color: #81b3d2;
}

.hotels__info:hover,
.hotels__info:focus {
  background-color: #669ec0;
}

.hotels__info:active {
  color: #94b9d2;
  background-color: #5496bd;
}

.hotels__booking {
  padding: 3px 17px;
  color: #fff;
  background-color: #766357;
}

.hotels__booking:hover,
.hotels__booking:focus {
  background-color: #604e43;
}

.hotels__booking:active {
  color: #928a85;
  background-color: #503e33;
}

.wrap-rating {
  padding-top: 48px;
}

.hotels__about_rating {
  background-color: #f2f2f2;
}

/* ===== Стили для футера*/

.footer {
  display: flex;
  align-items: center;
  padding: 0 6%;
  padding-top: 35px;
  padding-bottom: 35px;
  background-color: rgba(249, 251, 246, .9);
}

.footer__hashtag {
  width: 33.3%;
  margin: 0;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

.socials {
  width: 33.3%;
}

.socials__list {
  display: flex;
  justify-content: space-between;
  width: 150px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;
  fill: #fff;
  background-color: #81b3d2;
}

.socials__link:hover,
.socials__link:focus {
  background-color: #669ec0;
}

.socials__link:active {
  fill: #88b6d1;
  background-color: #5496bd;
}

.footer__copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33.3%;
}

.footer__copyright-text {
  margin: 0;
  margin-right: 8px;
  font-weight: 400;
  line-height: 26px;
}

.footer__copyright-link:hover,
.footer__copyright-link:focus {
  fill: #81b3d2;
}

.footer__copyright-link:active {
  fill: #bdbbbc;
}
